body {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    overflow: hidden;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card {
    background: #FFFFFF;
    max-width: 770px;
    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    padding: 48px;
    text-align: center;
}

.products {
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.product {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.product.active {
    opacity: 1;
    visibility: visible;
}

.thumbnail {
    margin: 0 0 48px;
}

.title {
    margin: 0 0 12px;
    font-size: 26px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.description {
    margin: 0 0 48px;
}

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -12px -12px;
}

img {
    width: 100%;
}

.container {
    position: absolute;
    width: 100%;
}

svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
}
#cards {
    visibility: hidden;
}