{include="header"}

<script type="text/javascript">
   $(document).ready(function () {
      $("#edit_ac_marca").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_marca_vehiculo',
         onSelect: function (suggestion) {
            if (suggestion)
            {
               if (document.f_editar_wmi.id_fabricante.value != suggestion.data)
               {
                  document.f_editar_wmi.id_fabricante.value = suggestion.data;
               }
            }
         }
      });
      $("#new_ac_marca").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_marca_vehiculo',
         onSelect: function (suggestion) {
            if (suggestion)
            {
               if (document.f_nuevo_wmi.id_fabricante.value != suggestion.data)
               {
                  document.f_nuevo_wmi.id_fabricante.value = suggestion.data;
               }
            }
         }
      });
   });
</script>

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if condition="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
      </div>
      <div class="col-sm-6 text-right">
         <h2 style="margin-top: 0px;">{$fsc->page->title}</h2>
      </div>
   </div>
</div>

<div role="tabpanel">
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"{if condition="!$fsc->editar_wmi_vehiculo"} class="active"{/if}>
          <a href="#listado" aria-controls="listado" role="tab" data-toggle="tab" title="Listado">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <span class="hidden-xs"> &nbsp; Listado</span>
         </a>
      </li>
      {if condition="$fsc->editar_wmi_vehiculo"}
      <li role="presentation" class="active">
         <a href="#editar" aria-controls="editar" role="tab" data-toggle="tab" title="Editar">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <span class="hidden-xs"> &nbsp; Editar</span>
         </a>
      </li>
      {/if}
      <li role="presentation">
         <a href="#nuevo" aria-controls="nuevo" role="tab" data-toggle="tab" title="Nuevo WMI">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="hidden-xs"> &nbsp; Nuevo WMI</span>
         </a>
      </li>
   </ul>

   <div class="tab-content">
      <div role="tabpanel" class='tab-pane{if condition="!$fsc->editar_wmi_vehiculo"} active{/if}' id="listado">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left" width="100px">WMI</th>
                     <th class="text-left">Nombre</th>
                     <th class="text-left">Fabricante</th>
                     <th class="text-right">País</th>
                  </tr>
               </thead>
               {loop="$fsc->listado"}
               <tr>
                  <td class="text-left"><a href="{$fsc->url()}&id={$value->id}" title="Ver ficha del WMI {$value->wmi}">{$value->wmi}</a></td>
                  <td class="text-left">{$value->nombre}</a></td>
                  <td class="text-left">{if condition="$value->id_marca!=NULL"}{$fsc->marca_vehiculo->get($value->id_marca)->nombre}{/if}</td>
                  <td class="text-left">{$value->pais}</td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
      <div role="tabpanel" class='tab-pane{if condition="$fsc->editar_wmi_vehiculo"} active{/if}' id="editar">
         {if condition="$fsc->editar_wmi_vehiculo"}
         <form name="f_editar_wmi" class="form" action="{$fsc->url()}" method="post">
            <input type="hidden" name="id" value="{$fsc->editar_wmi_vehiculo->id}"/>
            <div class="container" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-lg-12 col-md-12 text-center">
                     <h3>Editando WMI de fabricante</h3>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        Nombre:
                        <input class="form-control" type="text" name="nombre" value="{$fsc->editar_wmi_vehiculo->nombre}"/>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        Fabricante:
                        <input type="hidden" name="id_marca" value="{$fsc->editar_wmi_vehiculo->id_marca}"/>
                        <input class="form-control" type="text" name="edit_ac_marca" id="edit_ac_marca" placeholder="Buscar" autocomplete="off" value="{$fsc->marca_vehiculo->get($fsc->editar_wmi_vehiculo->id_marca)->nombre}"/>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        <a href="es.wikipedia.org/wiki/Número_de_chasis" target="_blank" title="World Manufacturer Identifier">WMI</a>:
                        <input class="form-control" type="text" name="wmi" value="{$fsc->editar_wmi_vehiculo->wmi}"/>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        País:
                        <input class="form-control" type="text" name="pais" value="{$fsc->editar_wmi_vehiculo->pais}"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="text-right">
                        <a href="{$fsc->url()}&delete={$fsc->editar_wmi_vehiculo->id}" class="btn btn-sm btn-danger" title="Eliminar">
                           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                           &nbsp; Eliminar
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary" title="Guardar">
                           <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                           &nbsp; Guardar
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </form>
         {/if}
      </div>
      <div role="tabpanel" class="tab-pane" id="nuevo">
         <form name="f_nuevo_wmi" class="form" action="{$fsc->url()}" method="post">
            <div class="container" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        Nombre
                        <input class="form-control" type="text" name="nombre"/>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        Fabricante:
                        <input type="hidden" name="id_marca"/>
                        <input class="form-control" type="text" name="new_ac_marca" id="new_ac_marca" placeholder="Buscar" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        <a href="http://es.wikipedia.org/wiki/Número_de_chasis" target="_blank" title="World Manufacturer Identifier">WMI</a>:
                        <input class="form-control" type="text" name="wmi"/>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-3">
                     <div class="form-group">
                        País:
                        <input class="form-control" type="text" name="pais"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-primary" title="Guardar">
                           <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                           &nbsp; Guardar
                        </button>
                     </div>
                  </div>
               </div>
            </div>
      </div>
      </form>
   </div>
</div>
</div>

{include="footer"}
